name = "template"
main = "src/worker.ts"
tsconfig = "./tsconfig.json"
compatibility_date = "2025-02-14"

[build]
command = "npm run generate:frontend"
watch_dir = ["frontend", "scripts", "src/frontend"]
